form label {
  color: lightgrey;
  font-weight: normal;
}

.btn.gradient {
  background: linear-gradient(to right, rgb(28, 216, 210), rgb(145, 240, 230));
  border: none;
  text-decoration: none;
}

.btn.gradient:focus {
  text-decoration: none;
}

.btn.border {
  color: #4bfeeb ;
  border: 1px solid #4bfeeb;
  background-color: white;
  text-align: center;
  margin-top: 10px;
}
