// Specific CSS for your home-page

.container-value-prop{
  display: flex;
  flex-direction: column;
    padding: 20px;
    /* border: green; */
    border: 3px solid #1DB7A8;
    margin: 40px;
    width: 300px;
    height: 300px;

    /* text-align: center; */
    justify-content: center;
    text-align: center;
}

.container-values{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.value{
  color: #454545;
  font-size: 30px;

}

.values{
  margin-left:35;
}

.landing-picture{
  height: 400px;
}



.text-center{
  margin-bottom: 10px;
}

.values h3 {
 text-align: center;

}
.values p{
text-align: center;
}

.value_image1{
 max-width: 100%;
display:block;
height: auto;
margin-left: 25px;
}

.btn.home-page-btn {
  background-color: none;
  max-width: 200px;
  margin: auto;
  border-width: 2px;
  color: #1ac2aa;
  border-radius: 200px;
  background: none;
  border-color: #1ac2aa;
  margin-top: 40px;
  margin-bottom: 25px;
}

.landing-picture {
  width: 100%;
  margin-top: -45px;
}

.value-prop__header {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  color: #454545;
  width: 300px;
  margin-top: 11px;
  margin-left: 10px;
}


.value-prop__text {
  font-size: 18px;
  margin-left: 10px;
  width: 300px;
}
