// Specific CSS for your home-page
.text-center{
  margin-bottom: 10px;
}

.values h3 {
 text-align: center;

}
.values p{
text-align: center;
}

.value_image{
 max-width: 100%;
display:block;
height: auto;
}

