.match-index {
  padding-top: 20px;
  background-color: whitesmoke;
}

    .match-index__header {
      margin-bottom: 20px;
      text-align: center;
      font-size: 20px;
    }

    .match-index__cards-wrapper {
      padding: 15px;
    }
