.container-onboarding-infos {
  padding: 20px;
}

.onboarding-heading {
  h1.onboarding-title {
    color: #1db7a8;
    font-size: 3rem;
    margin-top: 10px;
  }

  .onboarding-description {
    color: #454545;
  }

  padding-bottom: 10px;
}

.no-padding {
  padding: 0px;
  margin-top: 0px;
}

.onboarding-link {
  color: #c4c4c4;
  font-size: 14px;
}
