.onboarding-heading {
  h1.onboarding-title {
    color: #5AB2B7;
    font-size: 3rem;
  }

  .onboarding-description {
  }

  padding-bottom: 10px;
}

.no-padding {
  padding: 0px;
  margin-top: 0px;
}

.onboarding-link{
  color:#c4c4c4;
  font-size:14px;
}
