<div class="match-index">
  <div class="match-index__navbar">
  </div>

  <p class="match-index__header">Discover your Matches</p>
  <div class="match-index__cards-wrapper">
     <%= render "shared/chatroom-index-card" %>
  </div>
</div>



