
<div class="container-achievement">
<div class="achievement-title">
  <h4> Most important achievement</h4>
</div>

<div class="avievement-description">
  <h1> <%= user.achievement %></h1>
</div>
</div>
<hr>
