
<!-- profil banner with user photo(user.photo_url) and short bio (@user.description) -->
<div class="profil_container">

  <div class="top-banner">
    <div class="user-title">
      <h4> Product Designer</h4>
    </div>
  </div>

  <%= image_tag user.photo_url, class: "user-photo" %>

  <div class="bottom-banner">

    <div class="user-des">

      <h1> <%= user.description %></h1>

    </div>
  </div>

</div>


<hr>



