<div class="profil_container">

  <div class="top-banner">
    <div class="user-title">
      <h4> Product Designer</h4>
    </div>
  </div>

  <%= image_tag user.photo_url, class: "user-photo" %>

  <div class="bottom-banner">

    <div class="user-des">
      <h1>"Hi, I'm Andre from Berlin studying at Code University Software Engeneering and I'm one of the Co Founders of Creatr"</h1>
<!-- please insert this here <p><%#= user.description %></p> -->
    </div>
  </div>

</div>


<hr>

<!-- goals -->

 <div class="goals-container">
  <div class="goal">
    <h4>Goals</h4>
  </div>

  <div class="goal-def">
    <p><%= user.description %></p>
  </div>
</div>

<div class="goals-des-container">

  <% user.goal_list.each do |goal| %>
    <div class="goals-button">
      <div class="btn-text"> <%= goal %> </div>
    </div>
  <% end %>

</div>

<hr>
