<div class="certificate-container">

  <div class="certificates">
    <h4>Certificates</h4>
  </div>

  <div class="certifate-list">
    <div class="certificate-item">
      Cambridge
    </div>
    <div class="certificate-item">
      Udemy
    </div>
  </div>
</div>

<hr>
