<div class="navbar-wagon">
  <!-- Logo -->

<!-- Navbar right-side links -->
  <% if user_signed_in? %>

    <div class="navbar-wagon-item">
      <%= link_to users_path, class: "navbar-wagon-brand" do %>
        <i class="fas fa-chevron-left" style="color: #7B7979"></i>
      <% end %>
    </div>

    <div class="navbar-wagon-item">
      <%= link_to users_path do %>
        <i class="fas fa-comment" style="color: #53D5C7"></i>
      <% end %>
    </div>
  <% else %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <% end %>
</div>
