<!-- goals -->

 <div class="goals-container">
  <div class="goal">
    Goals
  </div>

  <div class="goal-def">

  </div>
</div>

<div class="goals-des-container">

  <% user.goal_list.each do |goal| %>
    <div class="goals-button">
      <div class="btn-text"> <%= goal %> </div>
    </div>
  <% end %>
</div>


