<%= link_to match_chatrooms_path(@match.id), :method => "post" do %>

<a class="match-index-card" href="">
  <img src="<%= image_path "Andre.jpg" %>" alt="" class="match-index-card__image">
  <p class="match-index-card__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam facilis deserunt, vero nisi voluptatibus laborum.</p>
</a>
<% end %>
