<div class="onlineplatforms-container">

  <div class="certificates">
    <h4>Online Presence</h4>
  </div>

  <div class="platform-list">

      <%= link_to user.github_url, class: "btn btn-primary" do %>
      <i class="fab fa-github"></i>
      <% end  %>

      <%= link_to user.linkedin_url, class: "btn btn-primary" do %>
      <i class="fab fa-linkedin"></i>
      <% end  %>
      <%= link_to user.dribbble_url, class: "btn btn-primary" do %>
      <i class="fab fa-dribbble"></i>
      <% end  %>

    </i>
    </div>
  </div>
</div>

<hr>
