<div class="skills-container">
  <div class="skills">
     Skills
  </div>
  <div class="skill-list">
    <% user.skill_list.each do |skill| %>
      <div class="skill-button">
         <div class="btn-text-skill"> <%= skill %> </div>
      </div>
    <% end %>
  </div>
</div>






