<div class="skills-container">
  <div class="skills">
    <h4> Skills</h4>
  </div>
  <div class="skill-list">
    <% user.skill_list.each do |skill| %>
      <span>#<%= skill %></span>
    <% end %>
  </div>
</div>

<hr>
