<div class="social-links-container">
  <div class="social-connection">
    Social Connection
  </div>
  <div class="social-links">

    <%= link_to @user.dribbble_url do %>
      <i class="fab fa-dribbble fa-3x" style="color: #D95988;"></i>
    <% end %>

    <%= link_to @user.github_url do %>
      <i class="fab fa-github fa-3x" style="color: black;"></i>
    <% end %>

    <%= link_to @user.linkedin_url do %>
      <i class="fab fa-linkedin fa-3x" style="color: #3076B0;"></i>
    <% end %>


  </div>
</div>

