<div class="social-links-container">

  <div class="social-links">

    <%= link_to @user.dribbble_url do %>
      <i class="fab fa-dribbble-square fa-3x" style="color: #5AB2B7;"></i>
    <% end %>

    <%= link_to @user.github_url do %>
      <i class="fab fa-github-square fa-3x" style="color: #5AB2B7;"></i>
    <% end %>

    <%= link_to @user.linkedin_url do %>
      <i class="fab fa-linkedin fa-3x" style="color: #5AB2B7;"></i>
    <% end %>


  </div>
</div>

