<div class="container-landing-image">
  <%= image_tag "landing.png" ,class: "landing-picture" %>
</div>

<div class="call-to-action-container">
  <%=link_to "START MATCHING",  new_user_session_path, class: "btn btn-primary btn-block home-page-btn"%>
</div>

<div class="container">
    <h1 class="value-prop__header">Match with people who share your goals.</h1>
    <p class="value-prop__text">Explore our community of mentors, investors and employers to open up opportunities and kickstart projects.</p>
</div>
