<div class="match-index">
  <div class="match-index__navbar">
  </div>

  <p class="match-index__header">Get to know your matches</p>
  <div class="match-index__cards-wrapper">
     <%= render "shared/match-index-card" %>
  </div>
</div>



