<div class="container">
  <div class="onboarding-heading text-center">
    <h1 class="onboarding-title">Your Bio</h1>
    <p class="onboarding-description no-padding">
      Hello, stranger!
    </p>
  </div>

  <%#= Bio form %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= simple_form_for(@user, url: onboarding_bio_path(@user)) do |f| %>
          <%= f.input :description,
                      as: :text,
                      label: "Bio",
                      input_html: {
                        style: "width: 370px; height: 100px;",
                        maxlength: 150,
                        size: 40,
                        value: f.object.description,
                        placeholder: "What's your story?
What brought you here?",
                      }
          %>
          <%= f.submit "Proceed to skills", class: "btn btn-primary btn-block gradient" %>
      <% end %>
      <%= link_to "back to avatar", onboarding_avatars_path, class: "onboarding-link" %>
    </div>
  </div>
</div>
