.onboarding_avatar {


  border-radius: 50%;
  height: 200px;
  width: 200px;
  box-shadow: 2px 2px 5px 0px #D6ECED;
  background-color: white;
  border: 1px solid #D6ECED;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
