
.user-banner-profil{
  display: flex;
  flex-wrap: wrap;
  min-height: 25vh;
  border: 1px solid rgb(240,240,240);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0), 0 1px 0 0 rgba(0,0,0,0);
  justify-content: flex-start;
  align-items: flex-end;

  .user-banner-title-profil {
    color: white ;
    font-size: 20px;
    margin: 10px 0px 4px 15px;
    flex: 50%;

  }
}




.user-profil-info{
  display: flex;
  flex-direction: column;
  margin: 13px 0px 0px 15px;
}

.user-profil-box{
display: flex;
flex-direction: column;
padding: 0px 0px 4px 0px;
}


.user-row-profil{
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

.fa-size-profil{
font-size: 13px;
color: #6A6A6A;
margin: 0px 5px 0 5px;


}
.user-size-profil{
  font-size: 13px;
  font-weight: lighter;
  color: #989898;
}




//banner landing page

.banner {
  color: white;
  text-align: center;
  height: 80vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position:right;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-content {
  margin-top: 150px;
}

.banner_index{
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.banner_content_index h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.landing-title h3 {
  justify-content: center;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

.home-container {
  justify-content: center;
  text-align: center;
}

.row {
  justify-content: center;
  align-text: center;
}
