

// platforms start here
// .platform-container{
//   background-color: white;
//   padding: 10px 20px;
//   }

// .platform-list{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding: 0 10px;
//   }


//index-card

.user-card-container{
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  border: 1px solid rgb(240,240,240);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 10px;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 25px;

}

.top-part{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.user-banner{
  display: flex;
  flex-wrap: wrap;
  min-height: 25vh;
  border: 1px solid rgb(240,240,240);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 10px 10px 0 0;
  justify-content: flex-start;
  align-items: flex-end;
  background-size: cover;

  .user-banner-title {
    color: #404040 ;
    font-size: 20px;
    margin: 10px 0px 4px 15px;
    flex: 50%;

  }
}

.user-index-info{
  display: flex;
  flex-direction: column;
  margin: 13px 0px 0px 15px;
}

.user-index-box{
display: flex;
flex-direction: column;
padding: 0px 0px 4px 0px;
}


.user-row{
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

.fa-size{
font-size: 13px;
color: #6A6A6A;
margin: 0px 5px 0 5px;


}
.user-size{
  font-size: 13px;
  font-weight: lighter;
  color: #989898;
}

.talk-to-user-about{
  text-align: center;
  margin: 20px 20px 18px 20px;
  color: #6A6A6A;
}



.user-index-bio{
  position: relative;
  text-align: left;
  color: #6A6A6A;
  font-size: 15px;
  margin: 0px 20px 20px 20px;
  line-height: 1.4;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 300;


  &:before {
    content: '"';
    display: block;
    position: absolute;
    top: -10px;
    left: -1px;
    height: 10px;
    color: #53D5C7;
    font-size: 28px;
  }

    &:after {
      content: '"';
      top: 4px;
      position: relative;
      display: inline-block;
      line-height: 0px;
      color: #53D5C7;
      font-size: 28px;
  }
}


.user-box {
  text-align: center;

  h4.user-box-heading {
    color: #202020;
    line-height: 1.3px;
    margin: 30px;
  }

  h5.user-box-title {
    color: #202020;
    line-height: 1.3;
  }
}

.bottom-part{
  display: flex;
  flex-direction: column;
  background-color:#5AB2B7 ;
  text-align: center;
  padding: 20px;
    p.goal-description-user{
    color: white;
    font-size: 17px;
    margin-bottom: 0px;
  }
}

.skill-part{
  display: flex;
  flex-direction: column;
}
.skills-user-list{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding: 5px 10px;
  margin: 15px;

  span {
    color: #5AB2B7;
    margin-right: 3px;
    font-size: 16px;
  }
}

.match-container{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -17px;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
  margin-bottom: 80px;
  position: relative;
  padding: 0px 118px;
  padding-bottom: 29px;

  &:after{
    position: absolute;
    width: 100%;
    padding-top: 100%;
    background-image: linear-gradient(to bottom, rgba(107,255,245,1) 0%, rgba(128,253,240,1) 18%, rgba(76,255,228,1) 35%, rgba(28,214,186,1) 54%, rgba(23,189,164,1) 71%, rgba(29,179,161,1) 85%, rgba(6,163,142,1) 99%, rgba(6,163,142,1) 100%);
    border-radius: 50%;
    content: '';
    display: block;
    top: 10%;
    z-index: -1;
    left: 0%;
  }
}

.disliker{
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0.5px solid #F5F5F5;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  i {
    color: #FF861F;
  }
  &:focus {
    background-color: #FF861F ;
    outline: none;
    text-decoration: none;
    i{
      color: white;
    }
  }
}
.liker{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0.5px solid #F5F5F5;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  text-decoration: none;
  i {
    color: #4EF1FF;

  }
  &:focus {
    background-color: #4EF1FF;
    color: white;
    outline: none;
    i {
      color: white;

    }
  }
}

.fa-check{
  margin-left: 5px;
  &:focus{
    color:white;
  }
}


.container-goal-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 0px 0px 20px 0px;
}



.button1{
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #53D5C7;
  border-radius: 20px;
  font-size: 11px;
  height: 30px;
  margin: 5px 10px;
  p{
    margin-bottom: 0px;
    color: #53D5C7;
  }
}
