//goals-card

.goals-container {
  display: flex;
  flex-direction: column;
  background-color: white;


  .goal {
  margin-left: 20px;
  font-size: 18px;
  color: #6A6A6A;

  }
}
.goals-des-container{
  display: flex;
  flex-direction: flex-start;
  justify-content: flexr;
  flex-wrap: wrap;
  background-color: white;
  padding: 15px 20px;
  margin-bottom: 10px;
}




.goals-button{
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 14px;
  border: 1px solid #1DB7A8;
  border-radius: 20px;
  font-size: 14px;
  margin: 5px 10px;

    .btn-text {
      color: #1DB7A8;

  }

}
