//goals-card

.goals-container {
  display: flex;
  flex-direction: column;
  background-color: white;


  .goal {

    font-size: 18px;
    text-align: center;
   color: #6A6A6A;

  }

}

.goals-des-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    padding: 15px 50px;
    margin-bottom: 10px;
}




.goals-button{
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  border: 1px solid #53D5C7 ;
  border-radius: 20px;
  font-size: 11px;
  height: 30px;
  margin: 5px 10px;
    .btn-text {
      color: #53D5C7;

  }

}
