.match-card {
  text-align:center;
  font-size: 16px;
}

.match-card__heading {
  text-align: center;
  color:#1DB7A8;
  margin-bottom: 40px;
  font-size: 30px;
  margin-top: 20px;
}

.match-card__users {
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  font-size: 16px;
}

.match-card__user {
  text-align: right;

  &:nth-child(2) {
    text-align: left;
  }
}

.match-card__image-wrapper {
  background-size: cover;
  background-position: center;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  right: -30px;
}

.match-card__image-wrapper--right {
  right: 30px;
}


.match-card__goal-description {


}

.match-card__user-name {


}

.match-card__user-title {

}


.match-card__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}


.match-card__send-button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #5AB2B6;
  color: white;
  margin-bottom: 15px;
  display: inline-block;

}

.match-card__skip-button {
display: inline-block;
}


