.container-signup-page {
  padding: 20px;
  background-color: white;

}

.sign-up-title{
  text-align: center;
  color: #1DB7A8;
}



.email{
  font-size: 14px;
  color: #c4c4c4;
  font-weight: lighter;

}
.password{
  font-size: 14px;
  color: #c4c4c4;
  font-weight: lighter;
}

.form-inputs{
  border-radius: 10px;
}

.form-control{
  border-radius: 10px;
}

.form-control:focus {
    border-color: #1DB7A8;
    outline: 0;

}


