//skills-card
.skills-container{
background-color: white;
padding: 10px;
}
.skills {
  padding: 0 10px;
  font-size: 18px;
  color:#6A6A6A ;
  margin-bottom: 10px;
  }




.skill-list{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding: px 50px;
  margin-bottom: 10px;
}


.skill-button{
  background: #6A6A6A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #6A6A6A;
  border-radius: 20px;
  font-size: 14px;
  margin: 5px 10px;
    .btn-text-skill {
      color: white;
  }
}
