//social-links
.social-links-container{
  background-color: white;
  padding: 10px;
  margin-bottom: 25px;
}

.social-connection{
  font-size: 18px;
  color: #6A6A6A;
  margin-bottom: 25px;
  margin-left: 20px;
}

.social-links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
